@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color:#0f141e;
    background-color: #D5D5D5;
}

.redText {
    color: red;
}